<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Bookbag</title>
  </head>
  <body>
    <h1>Add Bookbag</h1>
    <form class="addBookbag" action="/addBag" method="post">

      <input type="text" name="brand" value="" placeholder="Brand">

      <select class="type" name="type" >
        <option value="" disabled selected hidden>Type of Bookbag</option>
        <option value="Backpack">Backpack</option>
        <option value="Duffel Bag">Duffel Bag</option>
        <option value="Canvas Backpack">Canvas Backpack</option>
        <option value="Messenger Bag">Messenger Bag</option>
        <option value="Drawstring Backpack">Drawstring Backpack</option>
      </select>

      <select class="size" name="size">
        <option value="" disabled selected hidden>Size of Bag</option>
        <option value="Small">Small</option>
        <option value="Medium">Medium</option>
        <option value="Large">Large</option>
      </select>

      <input type="text" name="straps" value="" placeholder="Number of Straps">

      <input type="text" name="color" value="" placeholder="Color">

      <input type="text" name="pockets" value="" placeholder="Number of Pockets">

      <input type="text" name="location" value="" placeholder="Where its used">

      <textarea name="description" rows="8" cols="80" placeholder="Describe your bookbag..."></textarea>
      <input type="submit" name="addBag" value="Add Bookbag">
    </form>
  </body>
</html>
