<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  </head>
  <body>
    <ul>
    {{#model}}
    <li>
    <h1>{{name}}</h1>
    <h2>Brand: {{brand}}</h2>
    <h3>Type: {{type}}</h3>
    <h3>Size: {{size}}</h3>
    <h3>How many straps: {{straps}}</h3>
    <h3>Color: {{color}}</h3>
    <h3>How many pockets: {{pockets}}</h3>
    {{#use}}
    <h3>Where its used: {{location}}</h3>
    {{/use}}
    <h4>Description: {{description}}</h4>
    </li>
    {{/model}}
    </ul>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  </body>
</html>
